/* Auhtor: @louisdumas */
/* reset {{{*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 62.5%;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul { margin: 0; padding: 0; list-style: none;}
ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/*}}}*/

/* @Font-face
*********************{{{*/
@font-face {
    font-family: 'misoregular';
    src: url('fonts/miso/miso-regular-webfont.eot');
    src: url('fonts/miso/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso/miso-regular-webfont.woff') format('woff'),
         url('fonts/miso/miso-regular-webfont.ttf') format('truetype'),
         url('fonts/miso/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misobold';
    src: url('fonts/miso-bold/miso-bold-webfont.eot');
    src: url('fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-bold/miso-bold-webfont.woff') format('woff'),
         url('fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'),
         url('fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misolight';
    src: url('fonts/miso-light/miso-light-webfont.eot');
    src: url('fonts/miso-light/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-light/miso-light-webfont.woff') format('woff'),
         url('fonts/miso-light/miso-light-webfont.ttf') format('truetype'),
         url('fonts/miso-light/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*}}}*/

/* Common 
**********************{{{*/
$png-spacing: 5px;
@import "png/*.png";
@include all-png-sprites;

$darkblue: #006186;
$linkblue: #0086b9;

$miso: 'misoregular', Arial, Sans-serif;
$misoBold: 'misobold', Arial, Sans-serif;
$misoLight: 'misolight', Arial, Sans-serif;

html, body {
  height: 100%;
}

body { 
  -webkit-font-smoothing: antialiased;
  margin: 0; 
  font-size: 14px; 
  font-size: 1.4em; 
  line-height: 1.4;
  font-family: $miso;
  color: black;
  background-color: white;
  min-width: 960px;
}

a { color: $linkblue;  text-decoration: none;}
a:hover { color: #06e; text-decoration: underline;}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

.width {
  min-width: 960px;
  max-width: 1140px;
  margin: 0 auto;
}
.padding {
  padding: 0 20px;
}
.left { float: left;}
.right { float: right;}
.shy {
  position: absolute;
  left: -9999em;
}
.blue-btn {
  background: #0086b9;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background: #38a9d4;
    text-decoration: none;
  }
}
.orange-btn {
  background: #f47920;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background: #faaa71;
    text-decoration: none;
  }
}

#one-pager {
  section {
    padding-top: 30px;
  }
  
  h2, .h2 {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    font-size: 3.6rem;
    text-transform: uppercase;
    
    color: $darkblue;
    
    &:after {
      @extend .png-h2-thingy;
      display: inline-block;
      position: relative;
      margin-left: 3px;
      content: "";
      width: image-width('png/h2-thingy.png');
      height: image-height('png/h2-thingy.png');
    }
  }
}

/* }}} */

/* header
**********************{{{*/
#header { 
  @extend .width, .padding, .group; 
  padding: 25px 0 53px 0;
}

#siteLogo {
  @extend .png-logo-waq;
  float: left;
  display: block;
  width: image-width('png/logo-waq.png');
  height: image-height('png/logo-waq.png');
}

#event-desc {
  float: left;
  font-size: 21px;
  font-size: 2.1rem;
  color: #4e4e4e;
  margin: 6px 0 0 45px;
  h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 30px;
    color: $darkblue;
    margin: 0 0 0px 0;
  }
}

#social {
  text-align: right;
  font-family: $misoBold;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  vertical-align: top;
  
  li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    
    &:first-child {
      top: -6px;
    }
    
    &.twitter {
      top: -3px;
      a {
        @extend .png-twitter;
        display: block;
        width: image-width('png/twitter.png');
        height: image-height('png/twitter.png');
      }
    }
    &.facebook a{
      @extend .png-facebook;
      display: block;
      width: image-width('png/facebook.png');
      height: image-height('png/facebook.png');
    }
    
  }
}
/* }}} */

/* Main nav
**********************{{{*/
nav[role="navigation"] {
  @extend .group;
  position: absolute;
  z-index: 100;
  background: white;
  top: 105px;
  left: 0;
  width: 100%;
  min-height: 71px;
  font-family: $misoBold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  
  .width { @extend .padding; position: relative;}
  
  ul {
    position: relative;
    display: inline-block;
    width: 515px;
    text-align: center;
    font-size: 24px;
    font-size: 2.4rem;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

    li {
      margin: 0 18px;
      display: inline-block;
    }
    
    a {
      display: block;
      position: relative;
      &:after {
        @extend .png-nav-dash;
        content: "";
        position: absolute;
        top: 8px;
        right: -(image-width('png/nav-dash.png') + 5);
        display: block;
        width: image-width('png/nav-dash.png');
        height: image-height('png/nav-dash.png');
      }
      
      &:hover,
      &:focus,
      &.active {
        color: red;
      }
    }
  } // ul
  
  .left {
    position: absolute;
    display: inline-block;
    opacity: 0;
    left: -50px;
    top: 0;
    -webkit-transition-property: opacity left;
    -moz-transition-property: opacity left;
    -ms-transition-property: opacity left;
    -o-transition-property: opacity left;
    transition-property: opacity left;

    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    
    a {
      position: relative;
      left: -9999em;
    }
  }
  
  .small-logo {
    @extend .png-logo-waq-small;
    display: inline-block;
    width: image-width('png/logo-waq-small.png');
    height: image-height('png/logo-waq-small.png');
  }
  
  .inscription {
    @extend .blue-btn;
    position: relative;
    top: -11px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: $misoBold;
    margin-left: 27px;
  }
  
  .iron-web {
    @extend .orange-btn;
    position: relative;
    top: 4px;
    float: right;
    padding-left: image-width('png/iron-web-small.png') + 20;
    
    &:after {
      @extend .png-iron-web-small;
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 7.5px;
      width: image-width('png/iron-web-small.png');
      height: image-height('png/iron-web-small.png');
    }
  }
  
  &.sticky {
    position: fixed;
    top: 0px;
    
    ul {
      top: 5px;
      left: 163px;
      font-size: 18px;
      font-size: 1.8rem;
    }
    
    .left {
      opacity: 1;
      left: 20px;
      
      a {
        position: relative;
        left: auto;
      }
    }
  } // &.sticky
}
/* }}} */

/* Slider
**********************{{{*/
#slider {
  @extend .width;
  position: relative;
  z-index: 10;
  height: 420px;
  background: #0a6183;
  overflow: hidden;
  
  .texture-mask {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('/assets/images/interface/slider-texture.png') repeat transparent;
  }
  .mask {
    @extend .png-slider-mask;
    display: block;
    position: absolute;
    z-index: 12;
    bottom: 25px;
    left: 0;
    width: image-width('png/slider-mask.png');
    height: image-height('png/slider-mask.png');
  }
  .slider-info {
    position: absolute;
    z-index: 13;
    left: 50px;
    top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 42px;
    font-size: 4.2rem;
  }
  .desc-nav-wrap { 
    margin: 5px 0 0 71px; 
    font-size: 14px;
    font-size: 1.4rem;
  }
  .slider-nav {
    a {
      display: inline-block;
      background: white;
      width: 10px;
      height: 10px;
      margin: 0 2px;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -ms-transition-property: background;
      -o-transition-property: background;
      transition-property: background;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;

      &:hover,
      &:focus,
      &.active {
        background: #1fc2dd;
      }
    }
  }
  .descs {
    position: relative;
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    
    span { 
      position: absolute;
      display: inline-block;
      opacity: 0;
      width: 430px;
      top: -9999em;
      -webkit-transition-property: left opacity;
      -moz-transition-property: left opacity;
      -ms-transition-property: left opacity;
      -o-transition-property: left opacity;
      transition-property: left opacity;

      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;

      -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

      -webkit-transform : translateZ(0);
      -webkit-backface-visibility: hidden;
      -o-transform : translateZ(0);
      -moz-tform : translateZ(0);
      transform : translateZ(0);
      
      &.backstage {
        opacity: 0;
        top: 0;
        left: -50px;
      }
      
      &.on-stage {
        opacity: 1;
        top: 0;
        left: 0;
      }
    }
    
  }
  .slides-wrap {
    @extend .group;
    position: relative;
    z-index: 10;
    width: 200%;
    height: 100%;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -ms-transition-property: left;
    -o-transition-property: left;
    transition-property: left;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

    -webkit-transform : translateZ(0);
    -webkit-backface-visibility: hidden;
    -o-transform : translateZ(0);
    -moz-tform : translateZ(0);

    .slide {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      overflow: hidden;
      
      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}
/* }}} */
