{% extends 'layout.html.twig' %}
{% block body_classes %} home{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/assets/javascripts/libs/fancybox2/jquery.fancybox.css">
{% endblock %}
{% block javascripts %}
<script src="/assets/javascripts/libs/bez.js"></script>
<script src="/assets/javascripts/libs/fancybox2/jquery.fancybox.pack.js"></script>
<script src="/assets/javascripts/libs/fancybox2/helpers/jquery.fancybox-media.js"></script>
{% endblock %}

{% block main_content %}
<img class="mask" src="/assets/images/interface/mask.png"  alt=" " />
<div id="home-slider">
    <img src="/assets/images/home/bg-01.jpg"  alt=" " />
    <img src="/assets/images/home/bg-02.jpg"  alt=" " />
    <img src="/assets/images/home/bg-03.jpg"  alt=" " />
</div>
{#
<img class="full-bg" src="/assets/images/home/bg-01.jpg"  alt=" " />
#}
<section id="fullscreen">
    <div id="black-zone-wrap">
        <div id="black-zone">
            <img src="/assets/images/interface/logo-fwd.png"  alt="FWD | Domine" />
            <div id="animated-titles">
                <h2 class="h2" style="top: 50px;"><span class="anim1">La puissance</span> <span class="anim2">mesurée</span></h2>
                <p class="h2"><span class="anim1">Propulsé par</span> <span class="anim2">l’esprit de <br>compétition</span></p>
                <p class="h2" style="top: 50px;"><span class="anim1">Des résultats</span> <span class="anim2">percutants</span></p>
            </div>
            <img id="iphone" src="/assets/images/home/iphone.png"  alt="Iphone" />
            <ul>
                <li>Suivez vos résultats </li>
                <li>comparez vos performances </li>
                <li>partagez vos exploits</li>
            </ul>
            <a class="fancybox-media" id="btn-video" href="http://vimeo.com/29864141">Visionnez la vidéo</a>
            <div class="border">
                <a class="glass-btn" href="#">Faites partie des premiers utilisateurs</a>
                <span class="android"></span>
                <span class="ios"></span>
                <ul id="home-slider-nav" class="slider-nav">
                    <li><a class="active" data-index='0' href="javascript://"></a></li>
                    <li><a data-index='1' href="javascript://"></a></li>
                    <li><a data-index='2' href="javascript://"></a></li>
                </ul>
                </span>
            </div>
            <a class="home-news-anchor" href="javascript://">Nouvelles</a>
        </div>
    </div>
</section>
<div id="hidden-sections">
    <section id="news-wrap">
        <div class="row">
            <article class="col-4">
                <header>
                    <time pubdate="2009-10-09">1 août 2012</time>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in [...]</p>
            </article>
            <article class="col-4">
                <header>
                    <time pubdate="2009-10-09">1 août 2012</time>
                    <h1>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in [...]</p>
            </article>
            <article class="col-4 last">
                <header>
                    <time pubdate="2009-10-09">1 août 2012</time>
                    <h1>Sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in [...]</p>
            </article>
            
        </div>
    </section>
    {% include 'includes/footer.html.twig' %}
</div>
{% endblock %}

