/* Auhtor: @louisdumas */
/* reset {{{*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 62.5%;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul { margin: 0; padding: 0; list-style: none;}
ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/*}}}*/

/* @Font-face
*********************{{{*/
@font-face {
    font-family: 'misoregular';
    src: url('fonts/miso/miso-regular-webfont.eot');
    src: url('fonts/miso/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso/miso-regular-webfont.woff') format('woff'),
         url('fonts/miso/miso-regular-webfont.ttf') format('truetype'),
         url('fonts/miso/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misobold';
    src: url('fonts/miso-bold/miso-bold-webfont.eot');
    src: url('fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-bold/miso-bold-webfont.woff') format('woff'),
         url('fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'),
         url('fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misolight';
    src: url('fonts/miso-light/miso-light-webfont.eot');
    src: url('fonts/miso-light/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-light/miso-light-webfont.woff') format('woff'),
         url('fonts/miso-light/miso-light-webfont.ttf') format('truetype'),
         url('fonts/miso-light/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*}}}*/

/* Common 
**********************{{{*/
$png-spacing: 5px;
@import "png/*.png";
@include all-png-sprites;

$darkblue: #006186;
$linkblue: #0086b9;

$miso: 'misoregular', Arial, Sans-serif;
$misoBold: 'misobold', Arial, Sans-serif;
$misoLight: 'misolight', Arial, Sans-serif;

html {
  height: 100%;
}

body { 
  -webkit-font-smoothing: antialiased;
  margin: 0; 
  font-size: 14px; 
  font-size: 1.4em; 
  line-height: 1.4;
  padding-bottom: 10px;
  font-family: $miso;
  color: black;
  background-color: white;
  min-width: 960px;
}

a { color: $linkblue;  text-decoration: none;}
a:hover { color: #06e; text-decoration: underline;}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

.width {
  min-width: 960px;
  max-width: 1140px;
  margin: 0 auto;
}
.padding {
  padding: 0 20px;
}
.left { float: left;}
.right { float: right;}
.shy {
  position: absolute;
  left: -9999em;
}
.blue-btn {
  background: #0086b9;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  
  -webkit-transform : translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform : translateZ(0);
  -moz-tform : translateZ(0);
  transform : translateZ(0);

  &:hover,
  &:focus {
    background: #38a9d4;
    text-decoration: none;
  }
}
.orange-btn {
  background: #f47920;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  
  -webkit-transform : translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform : translateZ(0);
  -moz-tform : translateZ(0);
  transform : translateZ(0);

  &:hover,
  &:focus {
    background: #faaa71;
    text-decoration: none;
  }
}

.twitter-bird {
  @extend .png-twitter-bird;
  display: inline-block;
  width: image-width('png/twitter-bird.png');
  height: image-height('png/twitter-bird.png');
  
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;

  &:hover {
    opacity: 0.8;
  }
}

#one-pager {
  
  #accueil,
  section {
    @extend .width;
    padding-top: 10px;
    padding-bottom: 35px;
    position: relative;
    
    h1 {
      @extend .padding;
    }
  }
  
  .h2 {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    font-size: 3.6rem;
    text-transform: uppercase;
    
    color: $darkblue;
    
    &:after {
      @extend .png-h2-thingy;
      display: inline-block;
      position: relative;
      margin-left: 3px;
      content: "";
      width: image-width('png/h2-thingy.png');
      height: image-height('png/h2-thingy.png');
    }
  }
}
.listing {
  .group {
    margin-bottom: 20px;
  }
  h2 {
    color: #0686b8;
    font-size: 21px;
    font-size: 2.1rem;
    text-transform: uppercase;
    float: left;
    font-weight: normal;
    width: 18.1578947%;
    padding-left: 5%;
    margin: 10px 0 0 0;
  }
  
  .list {
    @extend .group;
    background: #f0f8fb;
    padding: 10px;
    float: left;
    width: 81.8421053%;
    
    li,
    figure {
      position: relative;
      display: inline-block;
      float: left;
      border: 2px solid #f0f8fb;
      
      & + li,
      & + figure { margin-left: 6px;}
    }
    
    &#partners li{
      height: 60px; // largest logo's height
      line-height: 60px;
      vertical-align: middle;
    }
    
    &#main li { 
      height: 115px;
      line-height: 115px;
      vertical-align: middle;
    }
    
    &#medias li {
      height: 75px; // largest logo's height
      line-height: 75px;
      min-width: 135px;
      vertical-align: middle;
    }
  }
  
}

/* }}} */

/* header
**********************{{{*/
#header { 
  @extend .width, .padding, .group; 
  padding: 25px 0 53px 0;
}

#siteLogo {
  @extend .png-logo-waq;
  float: left;
  display: block;
  width: image-width('png/logo-waq.png');
  height: image-height('png/logo-waq.png');
}

#event-desc {
  float: left;
  font-size: 21px;
  font-size: 2.1rem;
  color: #4e4e4e;
  margin: 6px 0 0 45px;
  
  h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 30px;
    color: $darkblue;
    margin: 0 0 0px 0;
    padding: 0!important;
  }
}

#social {
  text-align: right;
  font-family: $misoBold;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  vertical-align: top;
  
  li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    
    &:first-child {
      top: -6px;
    }
    
    &.twitter {
      top: -3px;
      a {
        @extend .png-twitter;
        display: block;
        width: image-width('png/twitter.png');
        height: image-height('png/twitter.png');
      }
    }
    &.facebook a{
      @extend .png-facebook;
      display: block;
      width: image-width('png/facebook.png');
      height: image-height('png/facebook.png');
    }
    
  }
}
/* }}} */

/* Main nav
**********************{{{*/
#main-nav {
  @extend .group;
  position: absolute;
  z-index: 100;
  background: white;
  top: 105px;
  left: 0;
  width: 100%;
  min-height: 71px;
  font-family: $misoBold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  
  .width { @extend .padding; position: relative;}
  
  ul#nav-wrap {
    position: relative;
    display: inline-block;
    width: 515px;
    text-align: center;
    font-size: 24px;
    font-size: 2.4rem;
    left: 0;
    
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    
    -webkit-transform : translateZ(0);
    -webkit-backface-visibility: hidden;
    -o-transform : translateZ(0);
    -moz-tform : translateZ(0);
    transform : translateZ(0);

    li {
      margin: 0 18px;
      display: inline-block;
    }
    
    a {
      display: block;
      position: relative;
      
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -ms-transition-property: color;
      -o-transition-property: color;
      transition-property: color;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;

      -webkit-backface-visibility: hidden;
      
      &:after {
        @extend .png-nav-dash;
        content: "";
        position: absolute;
        top: 8px;
        right: -(image-width('png/nav-dash.png') + 5);
        display: block;
        width: image-width('png/nav-dash.png');
        height: image-height('png/nav-dash.png');
      }
      
      &:hover,
      &:focus,
      &.active {
        text-decoration: none;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        color: $darkblue;
      }
    }
  } // ul
  
  .left {
    position: absolute;
    display: inline-block;
    opacity: 0;
    left: -50px;
    top: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    
    -webkit-transform : translateZ(0);
    -webkit-backface-visibility: hidden;
    -o-transform : translateZ(0);
    -moz-tform : translateZ(0);
    transform : translateZ(0);
    
    a {
      position: relative;
      left: -9999em;
    }
  }
  
  .small-logo {
    @extend .png-logo-waq-small;
    display: inline-block;
    width: image-width('png/logo-waq-small.png');
    height: image-height('png/logo-waq-small.png');
  }
  
  .inscription {
    @extend .blue-btn;
    position: relative;
    top: -11px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: $misoBold;
    margin-left: 27px;
  }
  
  .iron-web {
    @extend .orange-btn;
    position: relative;
    top: 4px;
    float: right;
    padding-left: image-width('png/iron-web-small.png') + 20;
    
    &:after {
      @extend .png-iron-web-small;
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 7.5px;
      width: image-width('png/iron-web-small.png');
      height: image-height('png/iron-web-small.png');
    }
  }
  
  &.sticky {
    position: fixed;
    top: 0px;
    
    ul#nav-wrap {
      top: 5px;
      left: 163px;
      font-size: 18px;
      font-size: 1.8rem;
    }
    
    .left {
      opacity: 1;
      left: 20px;
      top: 0;
      
      a {
        position: relative;
        left: 0;
      }
    }
  } // &.sticky
}
/* }}} */

/* Slider
**********************{{{*/
#slider {
  @extend .width;
  position: relative;
  z-index: 10;
  height: 420px;
  background: #0a6183;
  overflow: hidden;
  
  .texture-mask {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('/assets/images/interface/slider-texture.png') repeat transparent;
  }
  
  .mask {
    @extend .png-slider-mask;
    display: block;
    position: absolute;
    z-index: 12;
    bottom: 25px;
    left: 0;
    width: image-width('png/slider-mask.png');
    height: image-height('png/slider-mask.png');
  }
  
  .slider-info {
    position: absolute;
    z-index: 13;
    left: 50px;
    top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 48px;
  }
  
  .desc-nav-wrap { 
    margin: 5px 0 0 71px; 
    font-size: 14px;
    font-size: 1.4rem;
  }
  
  .slider-nav {
    a {
      display: inline-block;
      background: white;
      width: 10px;
      height: 10px;
      margin: 0 2px;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -ms-transition-property: background;
      -o-transition-property: background;
      transition-property: background;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      
      -webkit-transform : translateZ(0);
      -webkit-backface-visibility: hidden;
      -o-transform : translateZ(0);
      -moz-tform : translateZ(0);
      transform : translateZ(0);

      &:hover,
      &:focus,
      &.active {
        background: #1fc2dd;
      }
    }
  }
  
  .descs {
    position: relative;
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 30px;
    
    span { 
      position: absolute;
      display: inline-block;
      opacity: 0;
      width: 430px;
      top: -9999em;
      left: -50px;
      -webkit-transition-property: left opacity;
      -moz-transition-property: left opacity;
      -ms-transition-property: left opacity;
      -o-transition-property: left opacity;
      transition-property: left opacity;

      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;

      -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

      -webkit-transform : translateZ(0);
      -webkit-backface-visibility: hidden;
      -o-transform : translateZ(0);
      -moz-tform : translateZ(0);
      transform : translateZ(0);
      
      &.backstage {
        opacity: 0;
        top: -9px;
      }
      
      &.on-stage {
        opacity: 1;
        top: -9px;
        left: 0;
      }
    }
    
  }
  
  .slides-wrap {
    @extend .group;
    position: relative;
    z-index: 10;
    width: 200%;
    height: 100%;
    left: 0;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -ms-transition-property: left;
    -o-transition-property: left;
    transition-property: left;

    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -ms-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

    -webkit-transform : translateZ(0);
    -webkit-backface-visibility: hidden;
    -o-transform : translateZ(0);
    -moz-tform : translateZ(0);

    .slide {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      overflow: hidden;
      
      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}
/* }}} */

/* Schedule
**********************{{{*/

$libeo: #03D0BC;
$ixmedia: #c6ac03;
$vetiq: #02c66a;
$korem: #c61d5a;

$scheduleWidth: 91.2280702%;
$timeZoneWidth: 8.7719298%;

$t15m:40px;
.t7h00 { top: 0;}
.t7h15 { top: (1 * $t15m)}
.t7h30 { top: (2 * $t15m)}
.t7h45 { top: (3 * $t15m)}

.t8h00 { top: (4 * $t15m)}
.t8h15 { top: (5 * $t15m)}
.t8h30 { top: (6 * $t15m)}
.t8h45 { top: (7 * $t15m)}

.t9h00 { top: (8 * $t15m)}
.t9h15 { top: (9 * $t15m)}
.t9h30 { top: (10 * $t15m)}
.t9h45 { top: (11 * $t15m)}

.t10h00 { top: (12 * $t15m)}
.t10h15 { top: (13 * $t15m)}
.t10h30 { top: (14 * $t15m)}
.t10h45 { top: (15 * $t15m)}


.t11h00 { top: (16 * $t15m)}
.t11h15 { top: (17 * $t15m)}
.t11h30 { top: (18 * $t15m)}
.t11h45 { top: (19 * $t15m)}

.t12h00 { top: (20 * $t15m)}

.t13h00 { top: (24 * $t15m)}
.t13h15 { top: (25 * $t15m)}
.t13h30 { top: (26 * $t15m)}
.t13h45 { top: (27 * $t15m)}

.t14h00 { top: (28 * $t15m)}
.t14h15 { top: (29 * $t15m)}
.t14h30 { top: (30 * $t15m)}
.t14h45 { top: (31 * $t15m)}

.t15h00 { top: (32 * $t15m)}
.t15h15 { top: (33 * $t15m)}
.t15h30 { top: (34 * $t15m)}
.t15h45 { top: (35 * $t15m)}

.t16h00 { top: (36 * $t15m)}
.t16h15 { top: (37 * $t15m)}
.t16h30 { top: (38 * $t15m)}
.t16h45 { top: (39 * $t15m)}

.t17h00 { top: (40 * $t15m)}
.t17h15 { top: (41 * $t15m)}

.t15m { height: $t15m;}
.t30m { height: (2 * $t15m);}
.t45m { height: (3 * $t15m);}
.t60m { height: (4 * $t15m);}
.t75m { height: (5 * $t15m);}
.t90m { height: (6 * $t15m);}

.blue-line {
  position: absolute;
  display: block;
  height: 2px;
  background: #0686b8;
  border-bottom: 1px solid #bfedf4;
}

.room-col {
   width: 25%;
}

.conference-box {
//  float: left;
  display: block;
  color: #006287;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 8px;
  background: transparent;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  
  &:hover,
  &.active {
    background: #88dcec;
    
    .white {
      z-index: 92;
      color: white;
      background: #0587b9;
      text-decoration: none;
      
      h2,
      .time,
      .place,
      span[itemprop="description"] {
        color: white;
      }
      
      &:after {
        border-color: transparent white transparent transparent !important;
      }
    }
  }
  
  .white {
    position: relative;
    display: block;
    background: white;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 15px 15px 0;
      border-color: transparent $libeo transparent transparent;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    
    &:focus {
      z-index: 92;
      color: white;
      background: #0587b9;
      text-decoration: none;
      
      h2,
      .time,
      .place,
      span[itemprop="description"] {
        color: white;
      }
      
      &:after {
        border-color: transparent white transparent transparent !important;
      }
      
    }
    
    h2 {
      color: #0687b9;
      font-weight: bold;
      margin: 0;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -ms-transition-property: color;
      -o-transition-property: color;
      transition-property: color;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;

      -webkit-transform : translateZ(0);
      -webkit-backface-visibility: hidden;
      -o-transform : translateZ(0);
      -moz-tform : translateZ(0);
      transform : translateZ(0);
      
    }
    
    span[itemprop="description"],
    .time,
    .place,
    &:after {
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -ms-transition-property: color;
      -o-transition-property: color;
      transition-property: color;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#horaire .padding {
  position: relative;
}
#schedule-nav {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 60px;
  font-size: 18px;
  font-size: 1.8rem;
  
  li {
    display: inline-block;

    & + li {
      margin-left: 10px;
    }
  }
  a {
    display: inline-block;
    padding: 5px 16px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    color: #27c1dc;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    &:hover,
    &:focus,
    &.active {
      background: #d7ecf4;
      border-top: 1px solid #c6e1eb;
      border-left: 1px solid #c6e1eb;
      color: #006286;
      text-decoration: none;
      text-shadow: 1px 1px 0 white;
    }
    &.active {
      font-weight: bold;
    }
  }
}
#schedule {
  position: relative;
  
  #rooms-name {
    @extend .group;
    padding-left: $timeZoneWidth;
    text-transform: uppercase;
    font-size: 21px;
    font-size: 2.1rem;
    color: #0686B8;
    
    li {
      @extend .room-col;
      position: relative;
      z-index: 10;
      display: block;
      float: left;
      padding-left: 16px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 8px;
        left: 0px;
        z-index: 1000;
        border-width: 12px 12px 0 0;
        border-color: $libeo white white $libeo;
        border-style: solid;
        background: white;
      }
      
      &#room-2:before { border-color: $ixmedia white white $ixmedia;}
      &#room-3:before { border-color: $vetiq white white $vetiq;}
      &#room-4:before { border-color: $korem white white $korem;}
    }
  } // #rooms-name
  
  .shadow-top {
    content: '';
    position: relative;
    z-index: 11;
    bottom: -(image-height('interface/shadow.png'));
    display: block;
    width: 100%;
    height: image-height('interface/shadow.png');
    background: url('/assets/images/interface/shadow.png') repeat-x top center;
  }
  .shadow-bottom {
    content: '';
    position: relative;
    z-index: 11;
    top: -(image-height('interface/shadow-bottom.png'));
    display: block;
    width: 100%;
    height: image-height('interface/shadow-bottom.png');
    background: url('/assets/images/interface/shadow-bottom.png') repeat-x bottom center;
  }
  
  .wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -ms-transition-property: height;
    -o-transition-property: height;
    transition-property: height;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;

    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

    -webkit-transform : translateZ(0);
    -webkit-backface-visibility: hidden;
    -o-transform : translateZ(0);
    -moz-tform : translateZ(0);
    transform : translateZ(0);
    
    #schedule-wrap {
      position: relative;
      height: (11 * image-height('interface/squared-texture.png'));
    }
    
    #separators {
      @extend .group;
      position: absolute;
      z-index: 10;
      top: 0;
      left: $timeZoneWidth;
      width: $scheduleWidth;
      height: 100%;
      
      span {
        @extend .room-col;
        position: relative;
        display: block;
        float: left;
        height: 100%;
        & + span { border-left: 1px solid black;}
      }
    }
    
    #time-zone {
      position: absolute;
      z-index: 15;
      left: 0;
      top: 0;
      width: $timeZoneWidth;
      background: white;
      box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.4);
      border-right: 1px solid #bbbdbf;
      height: (11 * image-height('interface/squared-texture.png'));
      
      .time {
        @extend .blue-line;
        z-index: 15;
        width: 30px;
        right: -3px;
        
        &:before {
          content: "•";
          font-family: Arial;
          font-size: 150%;
          position: absolute;
          left: -3px;
          top: -14px;
          color: #006287;
        }
        span {
          display: inline-block;
          position: absolute;
          left: -50px;
          top: -10px;
          color: #666666;
          font-size: 14px;
          font-size: 1.4rem;
          font-weight: bold;
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
      }
    }
    
    .slides-wrap {
      @extend .group;
      position: absolute;
      z-index: 12;
      top: 0;
      left: 0;
      width: 300%;
      height: 100%;
      background: url('/assets/images/interface/squared-texture.png') repeat;
      -webkit-transition-property: left;
      -moz-transition-property: left;
      -ms-transition-property: left;
      -o-transition-property: left;
      transition-property: left;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

      -webkit-transform : translateZ(0);
      -webkit-backface-visibility: hidden;
      -o-transform : translateZ(0);
      -moz-tform : translateZ(0);
      transform : translateZ(0);
      
      
      .slide {
        position: relative;
        float: left;
        height: 100%;
        width: 33.33333333333%;
        padding-left: $timeZoneWidth/3;
      } // .slide
      
      .lines {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 13;
        height: 100%;
        
        span {
          @extend .blue-line;
          z-index: 13;
          width: 100%;
        }
        
      } // .lines
      
      .conferences,
      .row,
      .break {
        position: absolute;
        z-index: 14;
        display: block;
        width: $scheduleWidth;
      }
      
      .conferences {
        @extend .group;
        margin: 0;
        padding: 0;
        
        .col {
          width: 24.9%;
          height: 100%;
          float: left;
        }
        .conference {
          @extend .conference-box;
          width: 100%;
          font-size: 13px;
          font-size: 1.3rem;
          
          .white {
            padding: 10px 10px 10px 55px;
            
            &.room-2:after { border-color: transparent $ixmedia transparent transparent;}
            &.room-3:after { border-color: transparent $vetiq transparent transparent;}
            &.room-4:after { border-color: transparent $korem transparent transparent;}

          }
          
          h2 {
            font-size: 13px;
            font-size: 1.3rem;
          }
          
          span[itemprop="description"] {
            display: block;
            width: 132px;
          }
          
          &.t90m {
            .white {
              padding: 130px 10px 10px 10px;
            }
          }
        } // .conference
      } // .conferences 
      .empty {
        display: block;
      }
      .row {
        .conference {
          @extend .conference-box;
          width: 100%;
          height: 100%;
          
          .white {
            padding: 10px 10px 10px 225px;
            
            .info {
              max-width: 450px;
            }
            
            img {
              top: 10px;
              left: 10px;
            }
            
            h2 {
              margin: 15px 0;
            }
            
            .place {
              position: absolute;
              top: 10px;
              right: 46px;
              display: inline-block;
              color: #006287;
              font-family: $miso;
              font-size: 23px;
              font-size: 2.3rem;
              text-transform: uppercase;
            }
            
            .time {
              display: block;
              color: #b3b3b3;
              font-weight: bold;
              font-size: 14px;
              font-size: 1.4rem;
            }
            
            span[itemprop="description"] {
              display: block;
              color: #006287;
              font-weight: bold;
              font-size: 14px;
              font-size: 1.4rem;
              margin: 10px 0;
            }
            
            &:after { border-color: transparent #0687b9 transparent transparent;}
          }
        }
      }
      .break {
        display: block;
        z-index: 12;
        background: url('/assets/images/interface/break-texture.png') repeat transparent;
        
        .type {
          display: inline-block;
          font-weight: bold;
          font-size: 21px;
          font-size: 2.1rem;
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          color: #0687b9;
          margin: 22px 0 0 40px;
        }
        
        &.t15m .type{
          margin: 5px 0 0 40px;
        }
      }
    }
  }
  
  #open-shedule {
    display: block;
    text-align: center;
    
    a {
      @extend .png-schedule-btn;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: #0086b9;
      font-size: 22px;
      font-size: 2.2rem;
      font-family: $misoBold;
      padding: 2px 50px 2px 10px;
      width: image-width('png/schedule-btn.png');
      margin: 0 auto;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -ms-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      
      &:after {
        @extend .png-down-arrow;
        content: "";
        position: absolute;
        right: 35px;
        top: 50%;
        margin-top: -(image-width('png/down-arrow.png') / 2);
        width: image-width('png/down-arrow.png');
        height: image-height('png/down-arrow.png');
      }
      
      &:hover,
      &:focus,
      &.active {
        opacity: 0.7;
        text-decoration: none;        
      }
      
      &.active:after {
        @extend .png-up-arrow;
      }
      
    }
  }
} // #schedule

body {
  position: relative;
  left: 0;
  -webkit-transition-property: left, -webkit-filter;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;


  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 0ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;


  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);


  -webkit-backface-visibility: hidden;
  
  #one-pager {
    -webkit-transition-property: -webkit-filter;
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  #overlay {
    position: fixed;
    z-index: 90;
    display: block;
    opacity: 0;
    top: -9999em;
    width: 100%;
    bottom: auto;
//    background: rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 19%, rgba(51,158,199,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,rgba(255,255,255,0.4)), color-stop(100%,rgba(51,158,199,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 19%,rgba(51,158,199,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.4) 19%,rgba(51,158,199,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 19%,rgba(51,158,199,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 19%,rgba(51,158,199,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#1a339ec7',GradientType=0 );

    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;

    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -ms-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

#conf-desc {
  position: fixed;
  z-index: 95;
  top: 0;
  background: white;
  width: 400px;
  height: 100%;
  right: -400px;
  padding-top: 70px;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;

  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;

  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

  -webkit-transform : translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform : translateZ(0);
  -moz-tform : translateZ(0);
  transform : translateZ(0);

  .addthis_toolbox {
    position: absolute;
    bottom: -44px;
    left: 0px;
    
    a {
      margin-right: 15px;
    }
  }
  
  .loading {
    display: block;
    background: #0086b9;
    position: absolute;
    z-index: 96;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: image-width('interface/shadow-conf-single.png');
      left: 0;
      top: 0;
      bottom: 0;
      background: url('/assets/images/interface/shadow-conf-single.png') left top repeat-y;
    }

    img {
      position: absolute;
      top: 150px;
      left: 50%;
      margin-left: - (image-width('interface/loading.gif') / 2);
    }
    
    &.off {
      opacity: 0;
      top: -9999em;
      bottom: auto;
    }
    
    &.fadding {
      opacity: 0;
    }
  }
  
  .wrap-content {
    position: relative;
    background: #0086b9;
    height: 100%;
    overflow: hidden;
    
    figure {
      position: relative;
      display: block;
      width: 100%;
      height: 375px;
      overflow: hidden;
      
      img {
        top: 50%;
        left: 50%;
        margin-left: -200px;
        margin-top: -187px;
        position: absolute;
      }
    }

    @media (max-height: 768px) {
     figure {
       height: 245px;
     } 
    }
    
    h1 {
      position: absolute;
      bottom: 0;
      width: 100%;
      line-height: 34px;
      height: 34px;
      margin: 0;
      color: white;
      font-weight: normal;
      text-transform: uppercase;
      padding-left: 24px;
      font-family: $misoBold;
      font-size: 21px;
      font-size: 2.1rem;
      background-color: rgba(0, 97, 134, 0.5);
      
      .twitter-bird {
        position: absolute;
        top: 5px;
        right: 24px;
        
      }
    }
    
    .content {
      position: relative;
      padding: 10px 15px 10px 24px;
      color: white;
      font-size: 18px;
      font-size: 1.8rem;
      height: 100%;
      
      &:before {
        position: absolute;
        content: "";
        display: block;
        width: image-width('interface/shadow-conf-single.png');
        left: 0;
        top: 0;
        bottom: 0;
        background: url('/assets/images/interface/shadow-conf-single.png') left top repeat-y;
      }
      
      h2 {
        color: white;
        font-weight: normal;
        text-transform: uppercase;
        font-family: $misoBold;
        font-size: 21px;
        font-size: 2.1rem;
        margin: 0;
      }
      
      .time {
        display: block;
        font-size: 18px;
        font-size: 1.8rem;
        margin: 10px 0 0 0;
      }
      .room {
        display: block;
        font-size: 18px;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      
      .desc-wrap {
        position: relative;
        width: 100%;
//        height: 100%;
        
        .viewport { width: 100%; height: 578px; overflow: hidden; position: relative; }
        
        .viewport {
          
          h2 {
            position: relative;
            margin-top: 22px;
            
            .twitter-bird {
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          
          h2 + p {
            margin-top: 10px;
          }
          
          p + ol,
          p + ul {
            margin-top: -10px;
          }
          
          ul, 
          ol {
            margin-left: 19px;
            margin-bottom: 15px;
          }
          
          ol {
            list-style: decimal outside;
          }
          
          ul {
            list-style: disc outside;
          }
        }
        
        .bio-meta {
          margin-bottom: 15px;
          
          > span {
            display: block;
          }
          
          a {
            color: white;
            text-decoration: underline;
            
            &:hover {
              text-decoration: none;
            }
          }
        }
        
        .overview {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          padding-right: 30px;
          list-style: none;
          font-size: 13px;
          font-size: 1.3rem;
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        
      }
      
      #scrollbar1 .thumb .end,
      #scrollbar1 .thumb { background-color: white; }
      #scrollbar1 .scrollbar { position: absolute; width: 6px; right: 0; top: 0; }
      #scrollbar1 .track { background-color: #339ec7; height: 100%; width:6px; position: relative; padding: 0 1px; }
      #scrollbar1 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
      #scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
      #scrollbar1 .disable{ display: none; }
      .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
      
    } //.content
  }
}

body.lock {
  left: -400px;
  overflow: hidden;
  
  #one-pager {
    -webkit-filter: blur(2px);
  }
  
  #conf-desc {
    top: 0;
    right: 0;
  }
  
  #overlay {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
}

@media (min-width: 2400px) {
  body.lock {
    left: 0;
    
    #one-pager {
      -webkit-filter: blur(1px);
    }
    
    #conf-desc {
      top: 0;
      right: 100px;
    }
  }
}

@media (min-width: 2100px) and (max-width: 2400px){
  body.lock {
    left: 0px;
 
    #conf-desc {
      top: 0;
      right: 0px;
    }
  }
}

@media (min-width: 1700px) and (max-width: 2100px){
  body.lock {
    left: -100px;
  
    #conf-desc {
      top: 0;
      right: 0px;
    }
  }
}
/* }}} */

/* Google map
**********************{{{*/

#gmap {
  display: block;
  width: 100%;
  height: 420px;
  border: 1px solid #cdcdcd;
  
  .customInfoWindow {
    @extend .group;
    display: block;
    color: #005674;
    min-width: 400px;
    background: white;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 21px;
    font-family: $misoBold;
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    
    .shadow {
      @extend .png-infowindow-shadow;
      position: absolute;
      z-index: -1;
      bottom: -32px;
      left: 0;
      content: "";
      display: block;
      width: image-width('png/infowindow-shadow.png');
      height: image-height('png/infowindow-shadow.png');
      
    }
    
    .padding {
      @extend .group;
      padding: 20px;
    }
    .address {
      display: block;
      float: left;
    }
    
    img {
      position: relative;
      top: 11px;
      float: right;
    }
    
    &:after, &:before {
    	top: 100%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 30px;
      left: 50%;
      margin-left: -30px;
    }
    &:before {
    	border-color: rgba(226, 226, 226, 0);
    	border-top-color: #e2e2e2;
    	border-width: 31px;
    	left: 50%;
    	margin-left: -31px;
    }
  }
}
/*}}}*/

/* Sponsors
**********************{{{*/
.sponsors.listing .list li + li {
  margin-left: 40px;
}
/*}}}*/

/* About
**********************{{{*/
#a-propos {
  width: 100%;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  
  .intro {
    @extend .group;
    padding: 35px 37px 35px 3.9583333%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    min-height: image-height('interface/a-propos-banner.jpg');
    background: url('/assets/images/interface/a-propos-banner.jpg') left top no-repeat;
    
    h2 {
      font-weight: normal;
      font-family: $misoBold;
      margin: 0;
      text-transform: uppercase;
    }

    h2 ~ p {
      margin-top: 0;
    }
  }
  
  .desc {
    float: left;
    width: 55%;
    padding: 0 70px 0 0;
  }
  
  .benevoles {
    float: left;
    width: 45%;
    
    ul {
      @extend .group;
      width: 100%;
      font-size: 13px;
      font-size: 1.3rem;
      font-family: Arial, "Lucida Grande", sans-serif;

      li {
        float: left;
        width: 33.3333333%;
        margin-bottom: 2px;
      }
      span {
        display: inline-block;
        padding: 2px 3px;
        background: #006186;
      }
    } 
  }
  
  #team {
    background: url('/assets/images/interface/team-head.png') top center no-repeat;
    background-size: 98%;
    position: relative;
    width: 100%;
    padding: 30px 38px 0 0;
    top: -50px;
    
    figure {
      position: relative;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;

      &:before {
        position: absolute;
        background: rgba(31, 194, 221, 0.2);
        opacity: 0;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -ms-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;

        -webkit-transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -ms-transition-duration: 200ms;
        -o-transition-duration: 200ms;
        transition-duration: 200ms;

        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
      }
      
      &:hover {
        border: 2px solid #0086b9;
        
        &:before {
          opacity: 1;
        }
        
        figcaption {
          opacity: 1;
        }
      }
    }
    
    img {
      position: relative;
      z-index: 5;
    }
    
    figcaption {
      position: absolute;
      z-index: 10;
      display: inline-block;
      bottom: -8px;
      right: -9999em;
      padding: 2px 6px;
      background: #1fc2dd;
      text-transform: uppercase;
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -ms-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;

      -webkit-transition-duration: 200ms;
      -moz-transition-duration: 200ms;
      -ms-transition-duration: 200ms;
      -o-transition-duration: 200ms;
      transition-duration: 200ms;

      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;

    }
  }
}
/*}}}*/

/* Single session 
**********************{{{*/
body.single-session {
//  @extend .width;
}
/*}}}*/

/* Old browser
**********************{{{*/
html.no-opacity body #overlay{
  background: url('/assets/images/interface/white40.png') repeat;
}
/*}}}*/

/* Footer
**********************{{{*/

footer {
  @extend .width, .group;
  position: relative;
  background: #e9e9ea;
  min-height: 180px;
  padding-top: 35px;
  margin-bottom: 30px;
  font-family: Arial, Sans-serif;
  
  .diag {
    @extend .png-white-diag;
    display: block;
    width: image-width('png/white-diag.png');
    height: image-height('png/white-diag.png');
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .gradient {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background: rgb(17,152,183);
    background: -moz-linear-gradient(left,  rgba(17,152,183,1) 0%, rgba(0,97,134,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,152,183,1)), color-stop(100%,rgba(0,97,134,1)));
    background: -webkit-linear-gradient(left,  rgba(17,152,183,1) 0%,rgba(0,97,134,1) 100%);
    background: -o-linear-gradient(left,  rgba(17,152,183,1) 0%,rgba(0,97,134,1) 100%);
    background: -ms-linear-gradient(left,  rgba(17,152,183,1) 0%,rgba(0,97,134,1) 100%);
    background: linear-gradient(to right,  rgba(17,152,183,1) 0%,rgba(0,97,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1198b7', endColorstr='#006186',GradientType=1 );
  }
  
  .address{
    @extend .group;
    float: left;
    margin-left: 19.2982456%;
    width: 40.3508772%;
    
    h3 {
      font-size: 14px;
      font-size: 1.4rem;
      color: #0086b9;
      font-weight: bold;
      margin: 0 0 8px 0;
    }
    .block {
      display: block;
      float: left;
      margin-right: 6.869565%;

      span {
        display: block;
        color: #005674;
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 20px;
        
        &[itemprop="postalCode"],
        &[itemprop="addressLocality"] {
          display: inline-block;
        }
        
        &[itemprop="telephone"] {
          margin-top: 12px;
        }
      }
    }
  } //.address
  
  form {
    position: absolute;
    right: 70px;
    top: 35px;
    display: block;
    float: right;
    
    label {
      display: inline-block;
    }
    
    .label {
      display: block;
      color: #005674;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 18px;
    }
    
    input[type="email"] {
      border: none;
      color: #c1c8d1;
      font-size: 16px;
      width: 315px;
      font-size: 1.6rem;
      padding: 8px;
    }
    
    button {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: -50px;
      border: none;
      height: 35px;
      width: 40px;
      background: url('/assets/images/png/white-right-arrow.png') center center #0086b9 no-repeat;
    }
  } // form
  
  #ix {
    position: absolute;
    bottom: 10px;
    right: 23px;
    color: #777;
    display: inline-block;
    
    a {
      color: $linkblue;
    }
  }
}

/*}}}*/
