/* Auhtor: @louisdumas */
/* reset {{{*/
/* line 3, scss/global.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, scss/global.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, scss/global.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, scss/global.scss */
[hidden] {
  display: none;
}

/* line 7, scss/global.scss */
html {
  font-size: 62.5%;
}

/* line 8, scss/global.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 9, scss/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, scss/global.scss */
a:hover, a:active {
  outline: 0;
}

/* line 15, scss/global.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 16, scss/global.scss */
b, strong {
  font-weight: bold;
}

/* line 17, scss/global.scss */
blockquote {
  margin: 1em 40px;
}

/* line 18, scss/global.scss */
dfn {
  font-style: italic;
}

/* line 19, scss/global.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 20, scss/global.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 21, scss/global.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 22, scss/global.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 23, scss/global.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 24, scss/global.scss */
q {
  quotes: none;
}

/* line 25, scss/global.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 26, scss/global.scss */
small {
  font-size: 85%;
}

/* line 27, scss/global.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 28, scss/global.scss */
sup {
  top: -0.5em;
}

/* line 29, scss/global.scss */
sub {
  bottom: -0.25em;
}

/* line 30, scss/global.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, scss/global.scss */
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 32, scss/global.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 33, scss/global.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 34, scss/global.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 35, scss/global.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 36, scss/global.scss */
figure {
  margin: 0;
}

/* line 37, scss/global.scss */
form {
  margin: 0;
}

/* line 38, scss/global.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 39, scss/global.scss */
label {
  cursor: pointer;
}

/* line 40, scss/global.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 41, scss/global.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 42, scss/global.scss */
button, input {
  line-height: normal;
}

/* line 43, scss/global.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 44, scss/global.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 45, scss/global.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 46, scss/global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 47, scss/global.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 48, scss/global.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 49, scss/global.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 51, scss/global.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 52, scss/global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, scss/global.scss */
td {
  vertical-align: top;
}

/* line 54, scss/global.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/*}}}*/
/* @Font-face
*********************{{{*/
@font-face {
  font-family: 'misoregular';
  src: url("fonts/miso/miso-regular-webfont.eot");
  src: url("fonts/miso/miso-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso/miso-regular-webfont.woff") format("woff"), url("fonts/miso/miso-regular-webfont.ttf") format("truetype"), url("fonts/miso/miso-regular-webfont.svg#misoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url("fonts/miso-bold/miso-bold-webfont.eot");
  src: url("fonts/miso-bold/miso-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso-bold/miso-bold-webfont.woff") format("woff"), url("fonts/miso-bold/miso-bold-webfont.ttf") format("truetype"), url("fonts/miso-bold/miso-bold-webfont.svg#misobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misolight';
  src: url("fonts/miso-light/miso-light-webfont.eot");
  src: url("fonts/miso-light/miso-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso-light/miso-light-webfont.woff") format("woff"), url("fonts/miso-light/miso-light-webfont.ttf") format("truetype"), url("fonts/miso-light/miso-light-webfont.svg#misolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*}}}*/
/* Common 
**********************{{{*/
/* line 122, png/*.png */
.png-sprite, .png-arrow-white-down, .png-facebook, #social li.facebook a, .png-h2-thingy-hr, .png-h2-thingy, #one-pager h2:after, #one-pager .h2:after, .png-iron-web-small-hr, .png-iron-web-small, nav[role="navigation"] .iron-web:after, .png-logo-waq-small, nav[role="navigation"] .small-logo, .png-logo-waq, #siteLogo, .png-nav-dash, nav[role="navigation"] ul a:after, .png-slider-mask, #slider .mask, .png-twitter, #social li.twitter a {
  background: url('/assets/images/png-s5db1706af6.png') no-repeat;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-arrow-white-down {
  background-position: 0 -789px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-facebook, #social li.facebook a {
  background-position: 0 -716px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-h2-thingy-hr {
  background-position: 0 -514px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-h2-thingy, #one-pager h2:after, #one-pager .h2:after {
  background-position: 0 -653px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-iron-web-small-hr {
  background-position: 0 -455px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-iron-web-small, nav[role="navigation"] .iron-web:after {
  background-position: 0 -635px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-logo-waq-small, nav[role="navigation"] .small-logo {
  background-position: 0 -476px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-logo-waq, #siteLogo {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-nav-dash, nav[role="navigation"] ul a:after {
  background-position: 0 -767px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-slider-mask, #slider .mask {
  background-position: 0 -103px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-twitter, #social li.twitter a {
  background-position: 0 -743px;
}

/* line 107, scss/global.scss */
html, body {
  height: 100%;
}

/* line 111, scss/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: 14px;
  font-size: 1.4em;
  line-height: 1.4;
  font-family: "misoregular", Arial, Sans-serif;
  color: black;
  background-color: white;
  min-width: 960px;
}

/* line 123, scss/global.scss */
a {
  color: #0086b9;
  text-decoration: none;
}

/* line 124, scss/global.scss */
a:hover {
  color: #06e;
  text-decoration: underline;
}

/* line 126, scss/global.scss */
.group:before, #header:before, nav[role="navigation"]:before, #slider .slides-wrap:before, .group:after, #header:after, nav[role="navigation"]:after, #slider .slides-wrap:after {
  content: "";
  display: table;
}

/* line 127, scss/global.scss */
.group:after, #header:after, nav[role="navigation"]:after, #slider .slides-wrap:after {
  clear: both;
}

/* line 128, scss/global.scss */
.group, #header, nav[role="navigation"], #slider .slides-wrap {
  *zoom: 1;
}

/* line 130, scss/global.scss */
.width, #header, #slider {
  min-width: 960px;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 135, scss/global.scss */
.padding, #header, nav[role="navigation"] .width, nav[role="navigation"] #header, nav[role="navigation"] #slider {
  padding: 0 20px;
}

/* line 138, scss/global.scss */
.left {
  float: left;
}

/* line 139, scss/global.scss */
.right {
  float: right;
}

/* line 140, scss/global.scss */
.shy {
  position: absolute;
  left: -9999em;
}

/* line 144, scss/global.scss */
.blue-btn, nav[role="navigation"] .inscription {
  background: #0086b9;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 171, scss/global.scss */
.blue-btn:hover, nav[role="navigation"] .inscription:hover, .blue-btn:focus, nav[role="navigation"] .inscription:focus {
  background: #38a9d4;
  text-decoration: none;
}

/* line 176, scss/global.scss */
.orange-btn, nav[role="navigation"] .iron-web {
  background: #f47920;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 203, scss/global.scss */
.orange-btn:hover, nav[role="navigation"] .iron-web:hover, .orange-btn:focus, nav[role="navigation"] .iron-web:focus {
  background: #faaa71;
  text-decoration: none;
}

/* line 210, scss/global.scss */
#one-pager section {
  padding-top: 30px;
}
/* line 214, scss/global.scss */
#one-pager h2, #one-pager .h2 {
  position: relative;
  font-weight: normal;
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #006186;
}
/* line 223, scss/global.scss */
#one-pager h2:after, #one-pager .h2:after {
  display: inline-block;
  position: relative;
  margin-left: 3px;
  content: "";
  width: 51px;
  height: 58px;
}

/* }}} */
/* header
**********************{{{*/
/* line 239, scss/global.scss */
#header {
  padding: 25px 0 53px 0;
}

/* line 244, scss/global.scss */
#siteLogo {
  float: left;
  display: block;
  width: 223px;
  height: 98px;
}

/* line 252, scss/global.scss */
#event-desc {
  float: left;
  font-size: 21px;
  font-size: 2.1rem;
  color: #4e4e4e;
  margin: 6px 0 0 45px;
}
/* line 258, scss/global.scss */
#event-desc h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 30px;
  color: #006186;
  margin: 0 0 0px 0;
}

/* line 268, scss/global.scss */
#social {
  text-align: right;
  font-family: "misobold", Arial, Sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  vertical-align: top;
}
/* line 276, scss/global.scss */
#social li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}
/* line 281, scss/global.scss */
#social li:first-child {
  top: -6px;
}
/* line 285, scss/global.scss */
#social li.twitter {
  top: -3px;
}
/* line 287, scss/global.scss */
#social li.twitter a {
  display: block;
  width: 21px;
  height: 19px;
}
/* line 294, scss/global.scss */
#social li.facebook a {
  display: block;
  width: 22px;
  height: 22px;
}

/* }}} */
/* Main nav
**********************{{{*/
/* line 307, scss/global.scss */
nav[role="navigation"] {
  position: absolute;
  z-index: 100;
  background: white;
  top: 105px;
  left: 0;
  width: 100%;
  min-height: 71px;
  font-family: "misobold", Arial, Sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
/* line 321, scss/global.scss */
nav[role="navigation"] .width, nav[role="navigation"] #header, nav[role="navigation"] #slider {
  position: relative;
}
/* line 323, scss/global.scss */
nav[role="navigation"] ul {
  position: relative;
  display: inline-block;
  width: 515px;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}
/* line 348, scss/global.scss */
nav[role="navigation"] ul li {
  margin: 0 18px;
  display: inline-block;
}
/* line 353, scss/global.scss */
nav[role="navigation"] ul a {
  display: block;
  position: relative;
}
/* line 356, scss/global.scss */
nav[role="navigation"] ul a:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -22px;
  display: block;
  width: 17px;
  height: 17px;
}
/* line 369, scss/global.scss */
nav[role="navigation"] ul a:hover, nav[role="navigation"] ul a:focus, nav[role="navigation"] ul a.active {
  color: red;
}
/* line 375, scss/global.scss */
nav[role="navigation"] .left {
  position: absolute;
  display: inline-block;
  opacity: 0;
  left: -50px;
  top: 0;
  -webkit-transition-property: opacity left;
  -moz-transition-property: opacity left;
  -ms-transition-property: opacity left;
  -o-transition-property: opacity left;
  transition-property: opacity left;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -ms-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 399, scss/global.scss */
nav[role="navigation"] .left a {
  position: relative;
  left: -9999em;
}
/* line 405, scss/global.scss */
nav[role="navigation"] .small-logo {
  display: inline-block;
  width: 97px;
  height: 33px;
}
/* line 412, scss/global.scss */
nav[role="navigation"] .inscription {
  position: relative;
  top: -11px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "misobold", Arial, Sans-serif;
  margin-left: 27px;
}
/* line 422, scss/global.scss */
nav[role="navigation"] .iron-web {
  position: relative;
  top: 4px;
  float: right;
  padding-left: 86px;
}
/* line 429, scss/global.scss */
nav[role="navigation"] .iron-web:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 7.5px;
  width: 66px;
  height: 13px;
}
/* line 441, scss/global.scss */
nav[role="navigation"].sticky {
  position: fixed;
  top: 0px;
}
/* line 445, scss/global.scss */
nav[role="navigation"].sticky ul {
  top: 5px;
  left: 163px;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 452, scss/global.scss */
nav[role="navigation"].sticky .left {
  opacity: 1;
  left: 20px;
}
/* line 456, scss/global.scss */
nav[role="navigation"].sticky .left a {
  position: relative;
  left: auto;
}

/* }}} */
/* Slider
**********************{{{*/
/* line 467, scss/global.scss */
#slider {
  position: relative;
  z-index: 10;
  height: 420px;
  background: #0a6183;
  overflow: hidden;
}
/* line 475, scss/global.scss */
#slider .texture-mask {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url("/assets/images/interface/slider-texture.png") repeat transparent;
}
/* line 485, scss/global.scss */
#slider .mask {
  display: block;
  position: absolute;
  z-index: 12;
  bottom: 25px;
  left: 0;
  width: 575px;
  height: 347px;
}
/* line 495, scss/global.scss */
#slider .slider-info {
  position: absolute;
  z-index: 13;
  left: 50px;
  top: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-size: 4.2rem;
}
/* line 505, scss/global.scss */
#slider .desc-nav-wrap {
  margin: 5px 0 0 71px;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 511, scss/global.scss */
#slider .slider-nav a {
  display: inline-block;
  background: white;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 537, scss/global.scss */
#slider .slider-nav a:hover, #slider .slider-nav a:focus, #slider .slider-nav a.active {
  background: #1fc2dd;
}
/* line 542, scss/global.scss */
#slider .descs {
  position: relative;
  display: block;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 548, scss/global.scss */
#slider .descs span {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 430px;
  top: -9999em;
  -webkit-transition-property: left opacity;
  -moz-transition-property: left opacity;
  -ms-transition-property: left opacity;
  -o-transition-property: left opacity;
  transition-property: left opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 578, scss/global.scss */
#slider .descs span.backstage {
  opacity: 0;
  top: 0;
  left: -50px;
}
/* line 584, scss/global.scss */
#slider .descs span.on-stage {
  opacity: 1;
  top: 0;
  left: 0;
}
/* line 592, scss/global.scss */
#slider .slides-wrap {
  position: relative;
  z-index: 10;
  width: 200%;
  height: 100%;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
}
/* line 621, scss/global.scss */
#slider .slides-wrap .slide {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
/* line 628, scss/global.scss */
#slider .slides-wrap .slide img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* }}} */
