/* Auhtor: @louisdumas */
/* reset {{{*/
/* line 3, scss/global.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, scss/global.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, scss/global.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, scss/global.scss */
[hidden] {
  display: none;
}

/* line 7, scss/global.scss */
html {
  font-size: 62.5%;
}

/* line 8, scss/global.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 9, scss/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, scss/global.scss */
a:hover, a:active {
  outline: 0;
}

/* line 15, scss/global.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 16, scss/global.scss */
b, strong {
  font-weight: bold;
}

/* line 17, scss/global.scss */
blockquote {
  margin: 1em 40px;
}

/* line 18, scss/global.scss */
dfn {
  font-style: italic;
}

/* line 19, scss/global.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 20, scss/global.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 21, scss/global.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 22, scss/global.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 23, scss/global.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 24, scss/global.scss */
q {
  quotes: none;
}

/* line 25, scss/global.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 26, scss/global.scss */
small {
  font-size: 85%;
}

/* line 27, scss/global.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 28, scss/global.scss */
sup {
  top: -0.5em;
}

/* line 29, scss/global.scss */
sub {
  bottom: -0.25em;
}

/* line 30, scss/global.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, scss/global.scss */
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 32, scss/global.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 33, scss/global.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 34, scss/global.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 35, scss/global.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 36, scss/global.scss */
figure {
  margin: 0;
}

/* line 37, scss/global.scss */
form {
  margin: 0;
}

/* line 38, scss/global.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 39, scss/global.scss */
label {
  cursor: pointer;
}

/* line 40, scss/global.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 41, scss/global.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 42, scss/global.scss */
button, input {
  line-height: normal;
}

/* line 43, scss/global.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 44, scss/global.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 45, scss/global.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 46, scss/global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 47, scss/global.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 48, scss/global.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 49, scss/global.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 51, scss/global.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 52, scss/global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, scss/global.scss */
td {
  vertical-align: top;
}

/* line 54, scss/global.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/*}}}*/
/* @Font-face
*********************{{{*/
@font-face {
  font-family: 'misoregular';
  src: url("fonts/miso/miso-regular-webfont.eot");
  src: url("fonts/miso/miso-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso/miso-regular-webfont.woff") format("woff"), url("fonts/miso/miso-regular-webfont.ttf") format("truetype"), url("fonts/miso/miso-regular-webfont.svg#misoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url("fonts/miso-bold/miso-bold-webfont.eot");
  src: url("fonts/miso-bold/miso-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso-bold/miso-bold-webfont.woff") format("woff"), url("fonts/miso-bold/miso-bold-webfont.ttf") format("truetype"), url("fonts/miso-bold/miso-bold-webfont.svg#misobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misolight';
  src: url("fonts/miso-light/miso-light-webfont.eot");
  src: url("fonts/miso-light/miso-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/miso-light/miso-light-webfont.woff") format("woff"), url("fonts/miso-light/miso-light-webfont.ttf") format("truetype"), url("fonts/miso-light/miso-light-webfont.svg#misolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*}}}*/
/* Common 
**********************{{{*/
/* line 154, png/*.png */
.png-sprite, .png-arrow-white-down-hr, .png-arrow-white-down, .png-down-arrow, #schedule #open-shedule a:after, .png-facebook, #social li.facebook a, .png-h2-thingy-hr, .png-h2-thingy, #one-pager .h2:after, .png-iron-web-small-hr, .png-iron-web-small, #main-nav .iron-web:after, .png-logo-waq-gray, .png-logo-waq-small, #main-nav .small-logo, .png-logo-waq, #siteLogo, .png-nav-dash, #main-nav ul#nav-wrap a:after, .png-schedule-btn, #schedule #open-shedule a, .png-slider-mask, #slider .mask, .png-twitter, #social li.twitter a {
  background: url('/assets/images/png-s5b1b53788d.png') no-repeat;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-arrow-white-down-hr {
  background-position: 0 -798px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-arrow-white-down {
  background-position: 0 -934px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-down-arrow, #schedule #open-shedule a:after {
  background-position: 0 -889px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-facebook, #social li.facebook a {
  background-position: 0 -838px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-h2-thingy-hr {
  background-position: 0 -560px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-h2-thingy, #one-pager .h2:after {
  background-position: 0 -735px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-iron-web-small-hr {
  background-position: 0 -501px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-iron-web-small, #main-nav .iron-web:after {
  background-position: 0 -681px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-logo-waq-gray {
  background-position: 0 -455px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-logo-waq-small, #main-nav .small-logo {
  background-position: 0 -522px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-logo-waq, #siteLogo {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-nav-dash, #main-nav ul#nav-wrap a:after {
  background-position: 0 -912px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-schedule-btn, #schedule #open-shedule a {
  background-position: 0 -699px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-slider-mask, #slider .mask {
  background-position: 0 -103px;
}

/* line 60, ../../../../../../../../usr/local/Cellar/ruby/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-twitter, #social li.twitter a {
  background-position: 0 -865px;
}

/* line 107, scss/global.scss */
html, body {
  height: 100%;
}

/* line 111, scss/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: 14px;
  font-size: 1.4em;
  line-height: 1.4;
  font-family: "misoregular", Arial, Sans-serif;
  color: black;
  background-color: white;
  min-width: 960px;
}

/* line 123, scss/global.scss */
a {
  color: #0086b9;
  text-decoration: none;
}

/* line 124, scss/global.scss */
a:hover {
  color: #06e;
  text-decoration: underline;
}

/* line 126, scss/global.scss */
.group:before, #header:before, #main-nav:before, #slider .slides-wrap:before, #schedule #rooms-name:before, #schedule .wrapper #separators:before, #schedule .wrapper .slides-wrap:before, #schedule .wrapper .slides-wrap .conferences:before, #gmap .customInfoWindow:before, #gmap .customInfoWindow .padding:before, #gmap .customInfoWindow #header:before, #gmap .customInfoWindow #main-nav .width:before, #main-nav #gmap .customInfoWindow .width:before, #gmap .customInfoWindow #main-nav #one-pager section:before, #main-nav #one-pager #gmap .customInfoWindow section:before, #gmap .customInfoWindow #one-pager #main-nav section:before, #one-pager #main-nav #gmap .customInfoWindow section:before, #gmap .customInfoWindow #main-nav #header:before, #main-nav #gmap .customInfoWindow #header:before, #gmap .customInfoWindow #main-nav #slider:before, #main-nav #gmap .customInfoWindow #slider:before, .group:after, #header:after, #main-nav:after, #slider .slides-wrap:after, #schedule #rooms-name:after, #schedule .wrapper #separators:after, #schedule .wrapper .slides-wrap:after, #schedule .wrapper .slides-wrap .conferences:after, #gmap .customInfoWindow:after, #gmap .customInfoWindow .padding:after, #gmap .customInfoWindow #header:after, #gmap .customInfoWindow #main-nav .width:after, #main-nav #gmap .customInfoWindow .width:after, #gmap .customInfoWindow #main-nav #one-pager section:after, #main-nav #one-pager #gmap .customInfoWindow section:after, #gmap .customInfoWindow #one-pager #main-nav section:after, #one-pager #main-nav #gmap .customInfoWindow section:after, #gmap .customInfoWindow #main-nav #header:after, #main-nav #gmap .customInfoWindow #header:after, #gmap .customInfoWindow #main-nav #slider:after, #main-nav #gmap .customInfoWindow #slider:after {
  content: "";
  display: table;
}

/* line 127, scss/global.scss */
.group:after, #header:after, #main-nav:after, #slider .slides-wrap:after, #schedule #rooms-name:after, #schedule .wrapper #separators:after, #schedule .wrapper .slides-wrap:after, #schedule .wrapper .slides-wrap .conferences:after, #gmap .customInfoWindow:after, #gmap .customInfoWindow .padding:after, #gmap .customInfoWindow #header:after, #gmap .customInfoWindow #main-nav .width:after, #main-nav #gmap .customInfoWindow .width:after, #gmap .customInfoWindow #main-nav #one-pager section:after, #main-nav #one-pager #gmap .customInfoWindow section:after, #gmap .customInfoWindow #one-pager #main-nav section:after, #one-pager #main-nav #gmap .customInfoWindow section:after, #gmap .customInfoWindow #main-nav #header:after, #main-nav #gmap .customInfoWindow #header:after, #gmap .customInfoWindow #main-nav #slider:after, #main-nav #gmap .customInfoWindow #slider:after {
  clear: both;
}

/* line 128, scss/global.scss */
.group, #header, #main-nav, #slider .slides-wrap, #schedule #rooms-name, #schedule .wrapper #separators, #schedule .wrapper .slides-wrap, #schedule .wrapper .slides-wrap .conferences, #gmap .customInfoWindow, #gmap .customInfoWindow .padding, #gmap .customInfoWindow #header, #gmap .customInfoWindow #main-nav .width, #main-nav #gmap .customInfoWindow .width, #gmap .customInfoWindow #main-nav #one-pager section, #main-nav #one-pager #gmap .customInfoWindow section, #gmap .customInfoWindow #one-pager #main-nav section, #one-pager #main-nav #gmap .customInfoWindow section, #gmap .customInfoWindow #main-nav #header, #main-nav #gmap .customInfoWindow #header, #gmap .customInfoWindow #main-nav #slider, #main-nav #gmap .customInfoWindow #slider {
  *zoom: 1;
}

/* line 130, scss/global.scss */
.width, #one-pager section, #header, #slider {
  min-width: 960px;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 135, scss/global.scss */
.padding, #header, #main-nav .width, #main-nav #one-pager section, #one-pager #main-nav section, #main-nav #header, #main-nav #slider {
  padding: 0 20px;
}

/* line 138, scss/global.scss */
.left {
  float: left;
}

/* line 139, scss/global.scss */
.right {
  float: right;
}

/* line 140, scss/global.scss */
.shy {
  position: absolute;
  left: -9999em;
}

/* line 144, scss/global.scss */
.blue-btn, #main-nav .inscription {
  background: #0086b9;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 177, scss/global.scss */
.blue-btn:hover, #main-nav .inscription:hover, .blue-btn:focus, #main-nav .inscription:focus {
  background: #38a9d4;
  text-decoration: none;
}

/* line 182, scss/global.scss */
.orange-btn, #main-nav .iron-web {
  background: #f47920;
  color: white;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 215, scss/global.scss */
.orange-btn:hover, #main-nav .iron-web:hover, .orange-btn:focus, #main-nav .iron-web:focus {
  background: #faaa71;
  text-decoration: none;
}

/* line 222, scss/global.scss */
#one-pager section {
  padding-top: 10px;
  padding-bottom: 30px;
}
/* line 228, scss/global.scss */
#one-pager .h2 {
  position: relative;
  font-weight: normal;
  font-size: 36px;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #006186;
}
/* line 237, scss/global.scss */
#one-pager .h2:after {
  display: inline-block;
  position: relative;
  margin-left: 3px;
  content: "";
  width: 51px;
  height: 58px;
}

/* }}} */
/* header
**********************{{{*/
/* line 253, scss/global.scss */
#header {
  padding: 25px 0 53px 0;
}

/* line 258, scss/global.scss */
#siteLogo {
  float: left;
  display: block;
  width: 223px;
  height: 98px;
}

/* line 266, scss/global.scss */
#event-desc {
  float: left;
  font-size: 21px;
  font-size: 2.1rem;
  color: #4e4e4e;
  margin: 6px 0 0 45px;
}
/* line 272, scss/global.scss */
#event-desc h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 30px;
  color: #006186;
  margin: 0 0 0px 0;
}

/* line 282, scss/global.scss */
#social {
  text-align: right;
  font-family: "misobold", Arial, Sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  vertical-align: top;
}
/* line 290, scss/global.scss */
#social li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}
/* line 295, scss/global.scss */
#social li:first-child {
  top: -6px;
}
/* line 299, scss/global.scss */
#social li.twitter {
  top: -3px;
}
/* line 301, scss/global.scss */
#social li.twitter a {
  display: block;
  width: 21px;
  height: 19px;
}
/* line 308, scss/global.scss */
#social li.facebook a {
  display: block;
  width: 22px;
  height: 22px;
}

/* }}} */
/* Main nav
**********************{{{*/
/* line 321, scss/global.scss */
#main-nav {
  position: absolute;
  z-index: 100;
  background: white;
  top: 105px;
  left: 0;
  width: 100%;
  min-height: 71px;
  font-family: "misobold", Arial, Sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
/* line 335, scss/global.scss */
#main-nav .width, #main-nav #one-pager section, #one-pager #main-nav section, #main-nav #header, #main-nav #slider {
  position: relative;
}
/* line 337, scss/global.scss */
#main-nav ul#nav-wrap {
  position: relative;
  display: inline-block;
  width: 515px;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  left: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 370, scss/global.scss */
#main-nav ul#nav-wrap li {
  margin: 0 18px;
  display: inline-block;
}
/* line 375, scss/global.scss */
#main-nav ul#nav-wrap a {
  display: block;
  position: relative;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-backface-visibility: hidden;
}
/* line 399, scss/global.scss */
#main-nav ul#nav-wrap a:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -22px;
  display: block;
  width: 17px;
  height: 17px;
}
/* line 412, scss/global.scss */
#main-nav ul#nav-wrap a:hover, #main-nav ul#nav-wrap a:focus, #main-nav ul#nav-wrap a.active {
  text-decoration: none;
  color: red;
}
/* line 419, scss/global.scss */
#main-nav .left {
  position: absolute;
  display: inline-block;
  opacity: 0;
  left: -50px;
  top: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -ms-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 449, scss/global.scss */
#main-nav .left a {
  position: relative;
  left: -9999em;
}
/* line 455, scss/global.scss */
#main-nav .small-logo {
  display: inline-block;
  width: 97px;
  height: 33px;
}
/* line 462, scss/global.scss */
#main-nav .inscription {
  position: relative;
  top: -11px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "misobold", Arial, Sans-serif;
  margin-left: 27px;
}
/* line 472, scss/global.scss */
#main-nav .iron-web {
  position: relative;
  top: 4px;
  float: right;
  padding-left: 86px;
}
/* line 479, scss/global.scss */
#main-nav .iron-web:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 7.5px;
  width: 66px;
  height: 13px;
}
/* line 491, scss/global.scss */
#main-nav.sticky {
  position: fixed;
  top: 0px;
}
/* line 495, scss/global.scss */
#main-nav.sticky ul#nav-wrap {
  top: 5px;
  left: 163px;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 502, scss/global.scss */
#main-nav.sticky .left {
  opacity: 1;
  left: 20px;
  top: 0;
}
/* line 507, scss/global.scss */
#main-nav.sticky .left a {
  position: relative;
  left: 0;
}

/* }}} */
/* Slider
**********************{{{*/
/* line 518, scss/global.scss */
#slider {
  position: relative;
  z-index: 10;
  height: 420px;
  background: #0a6183;
  overflow: hidden;
}
/* line 526, scss/global.scss */
#slider .texture-mask {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url("/assets/images/interface/slider-texture.png") repeat transparent;
}
/* line 536, scss/global.scss */
#slider .mask {
  display: block;
  position: absolute;
  z-index: 12;
  bottom: 25px;
  left: 0;
  width: 575px;
  height: 347px;
}
/* line 546, scss/global.scss */
#slider .slider-info {
  position: absolute;
  z-index: 13;
  left: 50px;
  top: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-size: 4.2rem;
}
/* line 556, scss/global.scss */
#slider .desc-nav-wrap {
  margin: 5px 0 0 71px;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 562, scss/global.scss */
#slider .slider-nav a {
  display: inline-block;
  background: white;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 594, scss/global.scss */
#slider .slider-nav a:hover, #slider .slider-nav a:focus, #slider .slider-nav a.active {
  background: #1fc2dd;
}
/* line 599, scss/global.scss */
#slider .descs {
  position: relative;
  display: block;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 605, scss/global.scss */
#slider .descs span {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 430px;
  top: -9999em;
  left: -50px;
  -webkit-transition-property: left opacity;
  -moz-transition-property: left opacity;
  -ms-transition-property: left opacity;
  -o-transition-property: left opacity;
  transition-property: left opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 636, scss/global.scss */
#slider .descs span.backstage {
  opacity: 0;
  top: 0;
}
/* line 641, scss/global.scss */
#slider .descs span.on-stage {
  opacity: 1;
  top: 0;
  left: 0;
}
/* line 649, scss/global.scss */
#slider .slides-wrap {
  position: relative;
  z-index: 10;
  width: 200%;
  height: 100%;
  left: 0;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
}
/* line 679, scss/global.scss */
#slider .slides-wrap .slide {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
/* line 686, scss/global.scss */
#slider .slides-wrap .slide img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* }}} */
/* Schedule
**********************{{{*/
/* line 709, scss/global.scss */
.t7h00 {
  top: 0;
}

/* line 710, scss/global.scss */
.t7h15 {
  top: 40px;
}

/* line 711, scss/global.scss */
.t7h30 {
  top: 80px;
}

/* line 712, scss/global.scss */
.t7h45 {
  top: 120px;
}

/* line 714, scss/global.scss */
.t8h00 {
  top: 160px;
}

/* line 715, scss/global.scss */
.t8h15 {
  top: 200px;
}

/* line 716, scss/global.scss */
.t8h30 {
  top: 240px;
}

/* line 717, scss/global.scss */
.t8h45 {
  top: 280px;
}

/* line 719, scss/global.scss */
.t9h00 {
  top: 320px;
}

/* line 720, scss/global.scss */
.t9h15 {
  top: 360px;
}

/* line 721, scss/global.scss */
.t9h30 {
  top: 400px;
}

/* line 722, scss/global.scss */
.t9h45 {
  top: 440px;
}

/* line 724, scss/global.scss */
.t10h00 {
  top: 480px;
}

/* line 725, scss/global.scss */
.t10h15 {
  top: 520px;
}

/* line 726, scss/global.scss */
.t10h30 {
  top: 560px;
}

/* line 727, scss/global.scss */
.t10h45 {
  top: 600px;
}

/* line 730, scss/global.scss */
.t11h00 {
  top: 640px;
}

/* line 731, scss/global.scss */
.t11h15 {
  top: 680px;
}

/* line 732, scss/global.scss */
.t11h30 {
  top: 720px;
}

/* line 733, scss/global.scss */
.t11h45 {
  top: 760px;
}

/* line 735, scss/global.scss */
.t12h00 {
  top: 800px;
}

/* line 737, scss/global.scss */
.t13h00 {
  top: 960px;
}

/* line 738, scss/global.scss */
.t13h15 {
  top: 1000px;
}

/* line 739, scss/global.scss */
.t13h30 {
  top: 1040px;
}

/* line 740, scss/global.scss */
.t13h45 {
  top: 1080px;
}

/* line 742, scss/global.scss */
.t14h00 {
  top: 1120px;
}

/* line 743, scss/global.scss */
.t14h15 {
  top: 1160px;
}

/* line 744, scss/global.scss */
.t14h30 {
  top: 1200px;
}

/* line 745, scss/global.scss */
.t14h45 {
  top: 1240px;
}

/* line 747, scss/global.scss */
.t15h00 {
  top: 1280px;
}

/* line 748, scss/global.scss */
.t15h15 {
  top: 1320px;
}

/* line 749, scss/global.scss */
.t15h30 {
  top: 1360px;
}

/* line 750, scss/global.scss */
.t15h45 {
  top: 1400px;
}

/* line 752, scss/global.scss */
.t16h00 {
  top: 1440px;
}

/* line 753, scss/global.scss */
.t16h15 {
  top: 1480px;
}

/* line 754, scss/global.scss */
.t16h30 {
  top: 1520px;
}

/* line 755, scss/global.scss */
.t16h45 {
  top: 1560px;
}

/* line 757, scss/global.scss */
.t17h00 {
  top: 1600px;
}

/* line 759, scss/global.scss */
.t15m {
  height: 40px;
}

/* line 760, scss/global.scss */
.t30m {
  height: 80px;
}

/* line 761, scss/global.scss */
.t45m {
  height: 120px;
}

/* line 762, scss/global.scss */
.t60m {
  height: 160px;
}

/* line 763, scss/global.scss */
.t75m {
  height: 200px;
}

/* line 764, scss/global.scss */
.t90m {
  height: 240px;
}

/* line 766, scss/global.scss */
.blue-line, #schedule .wrapper .slides-wrap .lines span {
  position: absolute;
  display: block;
  height: 2px;
  background: #0686b8;
  border-bottom: 1px solid #bfedf4;
}

/* line 774, scss/global.scss */
.room-col, #schedule #rooms-name li, #schedule .wrapper #separators span {
  width: 25%;
}

/* line 777, scss/global.scss */
#horaire .padding, #horaire #header, #horaire #main-nav .width, #main-nav #horaire .width, #horaire #main-nav #one-pager section, #main-nav #one-pager #horaire section, #horaire #one-pager #main-nav section, #one-pager #main-nav #horaire section, #horaire #main-nav #header, #main-nav #horaire #header, #horaire #main-nav #slider, #main-nav #horaire #slider {
  position: relative;
}

/* line 780, scss/global.scss */
#schedule-nav {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 788, scss/global.scss */
#schedule-nav li {
  display: inline-block;
}
/* line 791, scss/global.scss */
#schedule-nav li + li {
  margin-left: 10px;
}
/* line 795, scss/global.scss */
#schedule-nav a {
  display: inline-block;
  padding: 5px 16px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  color: #27c1dc;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 822, scss/global.scss */
#schedule-nav a:hover, #schedule-nav a:focus, #schedule-nav a.active {
  background: #d7ecf4;
  border-top: 1px solid #c6e1eb;
  border-left: 1px solid #c6e1eb;
  color: #006286;
  text-decoration: none;
}

/* line 831, scss/global.scss */
#schedule {
  position: relative;
}
/* line 834, scss/global.scss */
#schedule #rooms-name {
  padding-left: 8.77193%;
  text-transform: uppercase;
  font-size: 21px;
  font-size: 2.1rem;
  color: #0686B8;
}
/* line 842, scss/global.scss */
#schedule #rooms-name li {
  position: relative;
  z-index: 10;
  display: block;
  float: left;
  padding-left: 16px;
}
/* line 849, scss/global.scss */
#schedule #rooms-name li:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 8px;
  left: 0px;
  z-index: 1000;
  border-width: 12px 12px 0 0;
  border-color: #03d0bc white white #03d0bc;
  border-style: solid;
  background: white;
}
/* line 863, scss/global.scss */
#schedule #rooms-name li#ixmedia:before {
  border-color: #c6ac03 white white #c6ac03;
}
/* line 864, scss/global.scss */
#schedule #rooms-name li#vetiq:before {
  border-color: #02c66a white white #02c66a;
}
/* line 865, scss/global.scss */
#schedule #rooms-name li#korem:before {
  border-color: #c61d5a white white #c61d5a;
}
/* line 869, scss/global.scss */
#schedule .shadow-top {
  content: '';
  position: relative;
  z-index: 11;
  bottom: -9px;
  display: block;
  width: 100%;
  height: 9px;
  background: url("/assets/images/interface/shadow.png") repeat-x top center;
}
/* line 879, scss/global.scss */
#schedule .shadow-bottom {
  content: '';
  position: relative;
  z-index: 11;
  top: -9px;
  display: block;
  width: 100%;
  height: 9px;
  background: url("/assets/images/interface/shadow-bottom.png") repeat-x bottom center;
}
/* line 890, scss/global.scss */
#schedule .wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 921, scss/global.scss */
#schedule .wrapper #schedule-wrap {
  position: relative;
  height: 1760px;
}
/* line 926, scss/global.scss */
#schedule .wrapper #separators {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 8.77193%;
  width: 91.22807%;
  height: 100%;
}
/* line 935, scss/global.scss */
#schedule .wrapper #separators span {
  position: relative;
  display: block;
  float: left;
  height: 100%;
}
/* line 941, scss/global.scss */
#schedule .wrapper #separators span + span {
  border-left: 1px solid black;
}
/* line 945, scss/global.scss */
#schedule .wrapper #time-zone {
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  width: 8.77193%;
  background: white;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.4);
  border-right: 1px solid #bbbdbf;
  height: 1760px;
}
/* line 957, scss/global.scss */
#schedule .wrapper .slides-wrap {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background: url("/assets/images/interface/squared-texture.png") repeat;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 991, scss/global.scss */
#schedule .wrapper .slides-wrap .slide {
  position: relative;
  float: left;
  height: 100%;
  width: 33.33333333333%;
  padding-left: 2.92398%;
}
/* line 999, scss/global.scss */
#schedule .wrapper .slides-wrap .lines {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 13;
  height: 100%;
}
/* line 1007, scss/global.scss */
#schedule .wrapper .slides-wrap .lines span {
  width: 100%;
}
/* line 1015, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences,
#schedule .wrapper .slides-wrap .break {
  position: absolute;
  z-index: 14;
  display: block;
  width: 91.22807%;
}
/* line 1022, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences {
  margin: 0;
  padding: 0;
}
/* line 1027, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference {
  width: 24.9%;
  float: left;
  color: #006287;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 8px;
  background: transparent;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 1054, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference:hover {
  background: #88dcec;
}
/* line 1058, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white {
  position: relative;
  display: block;
  background: white;
  height: 100%;
  padding: 10px 10px 10px 55px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 1085, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #03d0bc transparent transparent;
}
/* line 1097, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white.ixmedia:after {
  border-color: transparent #c6ac03 transparent transparent;
}
/* line 1098, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white.vetiq:after {
  border-color: transparent #02c66a transparent transparent;
}
/* line 1099, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white.korem:after {
  border-color: transparent #c61d5a transparent transparent;
}
/* line 1101, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white:hover {
  color: white;
  background: #0587b9;
  text-decoration: none;
}
/* line 1106, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference .white:hover h2 {
  color: white;
}
/* line 1112, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference h2 {
  color: #0687b9;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 0;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -o-transform: translateZ(0);
  -moz-tform: translateZ(0);
  transform: translateZ(0);
}
/* line 1144, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 1150, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference span[itemprop="description"] {
  display: block;
  width: 122px;
}
/* line 1156, scss/global.scss */
#schedule .wrapper .slides-wrap .conferences .conference.t90m .white {
  padding: 130px 10px 10px 10px;
}
/* line 1162, scss/global.scss */
#schedule .wrapper .slides-wrap .break {
  display: block;
  z-index: 12;
  background: url("/assets/images/interface/break-texture.png") repeat transparent;
}
/* line 1170, scss/global.scss */
#schedule #open-shedule {
  display: block;
  text-align: center;
}
/* line 1174, scss/global.scss */
#schedule #open-shedule a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #0086b9;
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "misobold", Arial, Sans-serif;
  padding: 2px 50px 2px 10px;
  width: 216px;
  margin: 0 auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 1205, scss/global.scss */
#schedule #open-shedule a:after {
  content: "";
  position: absolute;
  right: 35px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 18px;
}
/* line 1218, scss/global.scss */
#schedule #open-shedule a:hover, #schedule #open-shedule a:focus, #schedule #open-shedule a:active {
  opacity: 0.7;
  text-decoration: none;
}

/* }}} */
/* Google map
**********************{{{*/
/* line 1230, scss/global.scss */
#gmap {
  display: block;
  width: 100%;
  height: 420px;
  border: 1px solid #cdcdcd;
}
/* line 1236, scss/global.scss */
#gmap .customInfoWindow {
  display: block;
  color: #005674;
  min-width: 400px;
  background: white;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 21px;
  font-family: "misobold", Arial, Sans-serif;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
}
/* line 1249, scss/global.scss */
#gmap .customInfoWindow .padding, #gmap .customInfoWindow #header, #gmap .customInfoWindow #main-nav .width, #main-nav #gmap .customInfoWindow .width, #gmap .customInfoWindow #main-nav #one-pager section, #main-nav #one-pager #gmap .customInfoWindow section, #gmap .customInfoWindow #one-pager #main-nav section, #one-pager #main-nav #gmap .customInfoWindow section, #gmap .customInfoWindow #main-nav #header, #main-nav #gmap .customInfoWindow #header, #gmap .customInfoWindow #main-nav #slider, #main-nav #gmap .customInfoWindow #slider {
  padding: 20px;
}
/* line 1253, scss/global.scss */
#gmap .customInfoWindow .address {
  display: block;
  float: left;
}
/* line 1258, scss/global.scss */
#gmap .customInfoWindow img {
  position: relative;
  top: 11px;
  float: right;
}
/* line 1264, scss/global.scss */
#gmap .customInfoWindow:after, #gmap .customInfoWindow:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 1274, scss/global.scss */
#gmap .customInfoWindow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 30px;
  left: 50%;
  margin-left: -30px;
}
/* line 1281, scss/global.scss */
#gmap .customInfoWindow:before {
  border-color: rgba(226, 226, 226, 0);
  border-top-color: #e2e2e2;
  border-width: 31px;
  left: 50%;
  margin-left: -31px;
}

/*}}}*/
