{% extends 'layout.html.twig' %}
{% block title %}{{ session.name }} | {% endblock %}
{% block bodyClasses %}single-session{% endblock %}
{% block body %}
    {% include 'includes/header.html.twig' %}
    <div class="width">
      {% include 'conference/show.html.twig' with session %}
    </div>
{% endblock %}