{% extends 'mobile/layout.html.twig' %}

{% block bodyClasses %}section-about{% endblock %}
{% block title %}À propos - {% endblock %}
{% block javascripts %}
    <script src="/assets/javascripts/mobile.js"></script>
{% endblock %}

{% block body %}
    <div id="content" class="width">

        {% include 'includes/team.html.twig' %}

    </div>
{% endblock %}