{% extends 'mobile/layout.html.twig' %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/assets/javascripts/global.js"></script>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="schedule">

        </div>
    </div>
{% endblock %}