{% extends 'mobile/layout.html.twig' %}

{% block bodyClasses %}section-location-and-infos {% endblock %}
{% block title %}Lieu et infos - {% endblock %}
{% block javascripts %}
    <script src="/assets/javascripts/mobile.js"></script>
{% endblock %}

{% block body %}
    <div id="content" class="width">

        <h1 class="h2">Lieu et infos</h1>

    </div>
{% endblock %}