{% extends 'mobile/layout.html.twig' %}

{% block bodyClasses %}section-location-and-infos {% endblock %}
{% block title %}Lieu et infos - {% endblock %}
{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/assets/javascripts/maps.js"></script>
    <script src="/assets/javascripts/mobile.js"></script>
{% endblock %}

{% block body %}
    <div id="content" class="width">

        <h1 class="h2">Lieu et infos</h1>
        <div id="gmap"></div>

    </div>
{% endblock %}