{% extends 'mobile/layout.html.twig' %}

{% block bodyClasses %}partners {% endblock %}
{% block title %}Partenaires - {% endblock %}
{% block javascripts %}
    <script src="/assets/javascripts/mobile.js"></script>
{% endblock %}

{% block body %}
    <div id="content" class="width">
        <h1 class="page-title">Partenaires</h1>

        <h2>Principaux</h2>
        <ul class="partners">
            <li>
                <a href="#">

                </a>
            </li>
        </ul>
    </div>
{% endblock %}