<header id="header">
    <a id="siteLogo" href="/"><span class="shy">Le Web à Québec</span></a>
    <div id="event-desc">
        <h1 itemprop="name">Le web à Québec</h1>
        Du <time itemprop="startDate" datetime="2013-02-20T07:30-17:30">20</time> au <time itemprop="endDate" datetime="2013-02-22T07:30-17:30">22</time> février 2013,
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="name">Espace 400<sup>e</sup> Bell</span>,
                <span itemprop="addressRegion">Québec</span>
            </span>
        </span>
    </div>
    <ul id="social">
        <li><a href="{# FIXME #}#">Nous joindre</a></li>
        <li class="twitter"><a href="{# FIXME #}#"><span class="shy">Twitter</span></a></li>
        <li class="facebook"><a href="{# FIXME #}#"><span class="shy">Facebook</span></a></li>
    </ul>
</header>