<h1 class="h2">Partenaires</h1>
<div class="group">
    <h2>Principaux</h2>
    <ul id="main" class="list">
        <li><a href="http://www.ixmedia.com"><img src="/assets/images/sponsors/main/ix.png" alt="iXmédia" /></a></li>
        <li><a href="http://www.libeo.com"><img src="/assets/images/sponsors/main/libeo.png" alt="Libéo" /></a></li>
        <li><a href="http://www.bell.ca"><img src="/assets/images/sponsors/main/bell.png" alt="Bell" /></a></li>
        <li><a href="http://www.deloitte.com/"><img src="/assets/images/sponsors/main/deloitte.png"  alt="Deloitte" /></a></li>
    </ul>
</div>
<div class="group">
    <h2>Associés</h2>
    <ul id="partners" class="list">
        <li><a href="http://www.crowdbase.com"><img src="/assets/images/sponsors/partners/crowdbase.png" alt="Crowdbase" /></a></li>
        <li><a href="http://www.fernandezcom.ca"><img src="/assets/images/sponsors/partners/fernandez.png"alt="Fernandez communication" /></a></li>
        <li><a href="http://www.mirego.com"><img src="/assets/images/sponsors/partners/mirego.png"alt="Mirego" /></a></li>
        <li><a href="http://www.quebecinternational.ca"><img src="/assets/images/sponsors/partners/quebec_international.png" alt="Québec International" /></a></li>
        <li><a href="http://www.egouvquebec.com/"><img src="/assets/images/sponsors/partners/egouv-quebec.png" alt="Egouv Québec" /></a></li>
        <li class="spacer-15"><a href="http://www.ville.quebec.qc.ca/"><img src="/assets/images/sponsors/partners/ville_de_quebec.png"alt="Ville de Québec" /></a></li>
        <li class="spacer-15"><a href="http://www.webnotwar.ca/"><img src="/assets/images/sponsors/partners/make-web-not-war.png" alt="Make Web Not War" /></a></li>
        <li class="spacer-15"><img src="/assets/images/sponsors/partners/accord.png" alt="Accord Capitale-Nationale" /></li>
        <li class="spacer-15"><img src="/assets/images/sponsors/partners/gouv-qc.png" alt="Québec" /></li>
        <li><a href="http://tvaacces.ca/fr/"><img src="/assets/images/sponsors/partners/tva-acces.png"  alt="TVA Accès" /></a></li>
        {#
        <li><img src="/assets/images/sponsors/partners/tva.png"  alt="TVA" /></li>
        #}
    </ul>
</div>
<div class="group">
    <h2>Supporteurs</h2>
    <ul id="supporters" class="list">
        <li><a href="http://www.chalifour.net"><img src="/assets/images/sponsors/supporters/chalifour.png" alt="Chalifour" /></a></li>
        <li><a href="http://www.nebbio.net"><img src="/assets/images/sponsors/supporters/nebbio.png" alt="Nebbio" /></a></li>
        <li><a href="http://www.umen.ca"><img src="/assets/images/sponsors/supporters/umen.png" alt="Umen" /></a></li>
        <li><a href="http://www.pagesjaunes.ca"><img src="/assets/images/sponsors/supporters/groupe_pages_jaunes.png" alt="Groupe Pages Jaunes" /></a></li>
    </ul>
</div>
<div class="group">
    <h2>Médias et collaborateurs</h2>
    <ul id="medias" class="list">
        <li><a href="http://www.marcographie.com"><img src="/assets/images/sponsors/medias/marcographie.png" alt="Marcographie" /></a></li>
        <li><a href="http://www.technocompetences.qc.ca"><img src="/assets/images/sponsors/medias/technocompetences.png" alt="Techno Compétences" /></a></li>
        <li><a href="http://www.vetiq.org"><img src="/assets/images/sponsors/medias/vetiq.png" alt="Vetiq" /></a></li>
        <li><a href="http://socom.ca/"><img src="/assets/images/sponsors/medias/socom.png" alt="Socom" /></a></li>
        <li><a href="http://www.uxpaquebec.org/"><img src="/assets/images/sponsors/medias/uxpa_quebec.png" alt="uXpa Québec" /></a></li>
        <li><a href="http://quebecgirlgeekdinners.com/"><img src="/assets/images/sponsors/medias/qc_geek_girls.png" alt="Québec Girl Geek Dinners" /></a></li>
        <li><a href="http://www.alliancenumerique.com/"><img src="/assets/images/sponsors/medias/alliance-numerique.png" alt="Alliance numérique" /></a></li>
        <li><a href="http://www.zapquebec.org"><img src="/assets/images/sponsors/medias/zap.png" alt="Zap" /></a></li>
    </ul>
</div>