<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}Web à Québec</title>
    <meta name="description" content="Le Web À Québec c'est trois jours de rencontres par et pour les gens qui imaginent le web.">

    <meta name="viewport" content="width=device-width">
    {% block og_meta %}{% endblock %}
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20043510-1'],
                    ['_trackPageview'],
                    ['ix_setAccount', 'UA-25106796-1'],
                    ['ix_setDomainName', 'webaquebec.org'],
                    ['ix_setAllowHash', false],
                    ['ix_setAllowLinker', true],
                    ['ix_trackPageview']);

      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body class="layout{% block bodyClasses %}{% endblock %}" itemscope itemtype="http://schema.org/Event">
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    {% block body %}{% endblock %}
    
    <footer id="nous-joindre" data-section>
        <span class="gradient"></span>
        <span class="diag"></span>
        <div class="address">
            
            <span class="block" itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
                <h3>Adresse de l'événement</h3>
                <span itemprop="streetAddress">100 rue Quai St-André</span>
                <span itemprop="addressLocality">Québec (Qc)</span>
                <span itemprop="postalCode">G1K 3Y2</span>
            </span>
            
            <span class="block" itemtype="http://schema.org/PostalAddress">
                <h3>Siège social</h3>
                <span itemprop="streetAddress">305 Charest Est, bureau 901</span>
                <span itemprop="addressLocality">Québec (Qc)</span>
                <span itemprop="postalCode">G1K 3H3</span>
                <span itemprop="telephone">418 647-3877</span>
            </span>
            
        </div>
        {% if campaignConfirmationis is defined and campaignConfirmation %}
        <p class="confirm">Merci, vous êtes abonnés.</p>
        {% else %}
        <form action="http://webaquebec.createsend.com/t/r/s/jjjdthl" method="post" id="newsletter">
            <label>
                <span class="label">Inscrivez-vous à l’infolettre du WAQ !</span>
                <input type="email" name="cm-jjjdthl-jjjdthl" id="some_name" >
            </label>
            <button type='submit'><span class="shy">Envoyer</span></button>
        </form>
        {% endif %}
        <span id="ix">Conception: <a href="http://ixmedia.com">iXmédia</a></span>
    </footer>
    <div class="share-btn">

    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-505c8d037002272c"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/javascripts/libs/jquery.js"><\/script>')</script>
    {% block javascripts %}{% endblock %}
</body>
</html>
