<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}Web à Québec</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    {% block stylesheets %}{% endblock %}
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body class="layout{% block body_classes %}{% endblock %}">
    <nav role="navigation" id="main-nav">
        <div class="width">
            <span class="left">
                <a class="small-logo" href="#/home"><span class="shy">WAQ</span></a>
                <a class="inscription" href="{# FIXME #}#">Inscrivez-vous</a>
            </span>
            <a href="{# FIXME #}#" class="iron-web"><span class="shy">Iron web</span> Deloitte</a>
            <ul id="nav-wrap">
              <li><a href="#/horaire">Horaire</a></li>
              <li><a href="#">Lieu et infos</a></li>
              <li><a href="#">Partenaires</a></li>
              <li><a href="#">À propos</a></li>
            </ul>
        </div>
    </nav>
    
    <div id="one-pager">
        <div id="home" data-section>
            <header id="header">
                <a id="siteLogo" href="/"><span class="shy">Le Web à Québec</span></a>
                <div id="event-desc" itemscope itemtype="schema.org/Event">
                    <h1 itemprop="name">Le web à Québec</h1>
                    Du <time itemprop="startDate" datetime="2013-02-20T07:30-17:30">20</time> au <time itemprop="startDate" datetime="2013-02-22T07:30-17:30">22</time> février 2013,
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="name">Espace 400<sup>e</sup> Bell</span>,
                            <span itemprop="addressRegion">Québec</span>
                        </span>
                    </span>
                </div>
                <ul id="social">
                    <li><a href="{# FIXME #}#">Nous joindre</a></li>
                    <li class="twitter"><a href="{# FIXME #}#"><span class="shy">Twitter</span></a></li>
                    <li class="facebook"><a href="{# FIXME #}#"><span class="shy">Facebook</span></a></li>
                </ul>
            </header>
            <div id="slider">
                <span class="texture-mask"></span>
                <span class="mask"></span>
                <div class="slider-info">
                    Trois jours de rencontres<br>
                    par et pour les gens<br>
                    qui imaginent le web
                    <div class="desc-nav-wrap">
                        <span class="slider-nav"></span>
                        <span class="descs"></span>
                    </div>
                </div>
                <div class="slides-wrap">
                    <div id="slide01" class="slide" data-desc="ux \ design web \ mobile \ médias sociaux \ données ouvertes \ seo \ css3 \ html5"><img src="/assets/images/slider/slide-01.jpg"  alt=" " /></div>
                    <div id="slide02" class="slide" data-desc="This is another awesome desc ... lorem ipsum dolor sit amet, consectetur."><img src="/assets/images/slider/slide-02.jpg"  alt=" " /></div>
                </div>
            </div>{# #slider #}
        </div> {# #home #}
        <section id="horaire" data-section style="height: 2500px;">
            <div class="width padding">
                <h2>Horaire</h2>
            </div>
            <div id="schedule">
                <ul id="rooms-name">
                    <li id="libeo">Salle Libéo</li>
                    <li id="ixmedia">Salle iXmédia</li>
                    <li id="vetiq">Salle Vétiq</li>
                    <li id="korem">Salle Korem</li>
                </ul>
                <span class="shadow-top"></span>
                <div class="wrapper">
                    <div id="schedule-wrap">
                        <div id="time-zone"></div>
                        <div class="slides-wrap">
                            <div id="wednesday" class="slide">
                                <span id="separators"><span></span><span></span><span></span><span></span></span>
                                <span class="lines">
                                    <span class="t9h00"></span>
                                    <span class="t10h00"></span>
                                </span>
                            </div>
                            <div id="thursday" class="slide"></div>
                            <div id="friday" class="slide"></div>
                        </div>
                    </div>
                </div>
                <span class="shadow-bottom"></span>
            </div>
        </section>{# #horaire #}
      </div>
    </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/assets/javascripts/libs/jquery.js"><\/script>')</script>
      {% block javascripts %}{% endblock %}
      <script src="/assets/javascripts/libs/jquery.debounce.js"></script>
      <script src="/assets/javascripts/global.js"></script>
</body>
</html>
