<div class="conference t{{ duration }}m" itemprop="subEvent" itemscope itemtype="schema.org/Event">
    <a class="white">
        <figure itemprop="performer" itemscope itemtype="schema.org/Person">
            <img src="{{ img }}" width="47" height="52" alt=" " itemprop="image" />
            <figcaption><h2 itemprop="name">{{ performer }}</h2></figcaption>
        </figure>
        <span itemprop="description">{{ desc }}</span>
    </a>
</div>