<div class="conference">
    <a class="white {{ room }}">
        <figure itemprop="performer" itemscope itemtype="schema.org/Person">
            <img src="http://cageme.herokuapp.com/g/184/160" width="184" height="160" alt=" " itemprop="image" />
            <figcaption><h2 itemprop="name">{{ performer }}</h2></figcaption>
        </figure>
        <span itemprop="description">{{ desc }}</span>
    </a>
</div>
